@import "tailwindcss";

@theme {
  --color-very-light: #f4f3f6;
  --color-dark-light: #e4dfe6;
  --color-gray: #a6a3af;
  --color-mid-gray: #797681;
  --color-dark-gray: #4b4852;
  --color-light-black: #1a1820;
  --color-black: #121014;

  --color-transparent-bg: rgba(0, 0, 0, 0.4);

  --font-inter: "Inter", sans-serif;
  --font-bebas: "bebas", sans-serif;
  --font-space: "Space", monospace;
  --font-mono: "MonoRegular", monospace;

}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Bebas";
  src: url("/fonts/BebasNeue-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Space";
  src: url("/fonts/SpaceGrotesk-VariableFont.woff2") format("woff2");
  font-weight: 300 700;
  font-display: swap;
}

@font-face {
  font-family: "Mono";
  src: url("/fonts/SplineSansMono-VariableFont.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: var(--font-mono);
  background-color: black;
}
h1 {
  font-family: var(--font-bebas);
}

::selection {
  background-color: var(--color-mid-gray);
  color: #f4f3f6;
}

::-webkit-selection {
  background-color: var(--color-mid-gray);
  color: #f4f3f6;
}
